.contentCard {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;
}

.header {
    height: 500px;
    position: relative;
    background-color: #FFF;

    .topheader {
        width: 100%;
        height: 300px;
    }

    .headerImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 17px;
    }

    .username {
        text-align: center;
        line-height: 350px;
        font-size: 30px;
        text-transform: uppercase;
    }

    .circle {
        position: absolute;
        width: 20vw;  // Utilisation d'unités relatives pour la taille
        height: 20vw;  // Utilisation d'unités relatives pour la taille
        max-width: 300px;  // Limitation de la taille maximale
        max-height: 300px;  // Limitation de la taille maximale
        border-radius: 50%;  // Pour un cercle parfait
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F2F2F2;
    }

    .cameraIconContainer {
        position: absolute;
        top: calc(50% + 9vw);  // Position en bas du cercle en fonction de la taille
        left: calc(50% + 5vw);  // Position à droite du cercle en fonction de la taille
        transform: translate(-50%, -50%);
        background-color: #D9D9D9;
        border-radius: 20px;
        padding: 10px;

        .cameraIcon {
            color: #000;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }

    .logoutButton {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .logoutIcon {
            color: #B2B2B2;
            font-size: 25px;
        }
    }
}

.cardStat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    border: none;
    width: calc(50% - 10px);
}

.body {
    flex: 1;
    margin: 18px;
    border-radius: 5px;
    background-color: #fff;

    .bodyheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-top: 5px;

        .bodytitle {
            font-size: 35px;
        }

        .modifyprofile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 250px;
            height: 50px;
            background-color: #D9D9D9;
            border-radius: 5px;
            padding: 10px;
            margin-top: 5px;

            .textmodifyprofile {
                font-size: 15px;
            }
        }
    }
}

.formfield {
    margin: 20px 15px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.deleteButton {
    margin-bottom: 5px;
    background-color: #6E5BE2;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: #FFF;
    font-size: 15px;
    border: none;
}

.positionButton {
    display: flex;
    justify-content: center;
}

