.container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
  }
  
  .label {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .input {
    width : 100%;
    font-size: 18px;
    height: 60px;
    background-color: #F2F2F2;
    padding-left: 10px;
    border-radius:10px;
  }
  